.creations {
  &__container {
  }
  &__box{
        
    }
  &__title {
  }
  &__text {
  }
  &__list {
  }
  &__item {
  }
  &__img {
  }
}

@media screen and (min-width: 768px) {
  .creations {
    &__container {
    }
    &__box{
        
    }
    &__title {
    }
    &__text {
    }
    &__list {
    }
    &__item {
    }
    &__img {
    }
  }
}

@media screen and (min-width: 1344px) {
  .creations {
    padding-bottom: 112px;
padding-top: 112px;
    &__container {
    }
    &__box{
display: flex;
flex-direction: column;
align-items: center;
gap: 24px;
margin-bottom: 40px;
    }
    &__title {
        font-family: var(--font-family);
font-weight: 700;
font-size: 48px;
line-height: 120%;
text-align: center;
color: var(--color-scheme-1-text);
    }
    &__text {
        font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
text-align: center;
color: var(--color-scheme-1-text);
width: 768px;

    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }
    &__item {
    }
    &__img {
        width: 634px;
height: 356px;
    }
  }
}
