.materials {
  &__container {
  }
  &__title {
  }
  &__list {
  }
  &__item {
  }
  &__subtitle {
  }
  &__text {
  }
}

@media screen and (min-width: 768px) {
  .materials {
    &__container {
    }
    &__title {
    }
    &__list {
    }
    &__item {
    }
    &__subtitle {
    }
    &__text {
    }
  }
}

@media screen and (min-width: 1344px) {
  .materials {
    padding-bottom: 112px;
padding-top: 112px;
    &__container {
    }
    &__title {
        font-family: var(--font-family);
font-weight: 700;
font-size: 48px;
line-height: 120%;
text-align: center;
color: var(--color-scheme-1-text);
margin-bottom: 40px;
    }
    &__list {
        display: flex;
        gap: 11.8px;
    }
    &__item {
        height: 873px;
        width: 252px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 12px;
    }
     &__item:nth-child(1) {
       background: url("../img/materials/desktop/denim@desktop-1x.webp");
    }
     &__item:nth-child(2) {
background: url("../img/materials/desktop/ripstop@desktop-1x.webp");
     }
       &__item:nth-child(3) {
background: url("../img/materials/desktop/leather@desktop-1x.webp");
     }
       &__item:nth-child(4) {
background: url("../img/materials/desktop/fleece@desktop-1x.webp");
     }
       &__item:nth-child(5) {
background: url("../img/materials/desktop/canvas@desktop-1x.webp");
     }
    &__subtitle {
        font-family: var(--font-family);
font-weight: 700;
font-size: 20px;
line-height: 140%;
color: #fff;
margin-bottom: 12px;
    }
    &__text {
        font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #fff;
    }
  }
}
