*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
  
    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1344px) {
        width: 1344px;
    }
}

.body {
  font-family: "Roboto";
 
}