@mixin flex-position($gap: 0, $vertically:center, $horizontally:center, $direction:row ) {
    display: flex;
        align-items: $vertically;
        gap: $gap;
        justify-content: $horizontally;
        flex-direction: $direction;
}
@mixin title($color: $title-color, $size: 0, $height: normal,  $weight: 700) {
    color: $color;
        font-family: "Roboto";
        font-size: $size;
        line-height: $height;
        font-weight: $weight;
}
@mixin text($color: $text-color, $size: 0, $height: normal,  $weight: 400) {
    color: $color;
        font-family: "Roboto";
        font-size: $size;
        line-height: 150%;
        font-weight: $weight;
}
@mixin logo($size: 0 ) {
    font-family: "Roboto";
        font-size: $size;
        font-weight: 500;
    line-height: 140%;
    color: $text-color;
}